{% extends 'base.html' %}

{% block content %}
    <div class="container" style="padding-bottom: 20px; padding-top: 20px">
        <h2 class='alert alert-info'>Algorithm Specific Settings</h2>
        <div id='ass'>

        </div>
        <div class="col-xs-12"><button class="btn btn-default btn-lg" id="bt2">Generate</button></div>'
    </div>
    <div class="container" style="padding-bottom: 50px;">
        <h2 class='alert alert-info'>main.py Script Command Result</h2>
        <div class="jumbotro">
            <textarea id='res' class="form-control" rows='8' style="resize: none"></textarea>
        </div>
    </div>

    <!-- script -->

    <script>
        $(document).ready(function(){
            $('#score_metric').parent().hide()
            $('#tune_epochs').parent().hide()
            // ----------------------------------------
            $('#bt1').click(function(){
                // get basic settings value 
                switch($('#algo_name').val()) {
                    case 'vae':
                        $('#ass').empty()
                        $('#ass').append(
                            '<form action="" method="post" novalidate="novalidate">' +
                                '<div class="form-group col-xs-6">' +
                                    '<label>Batch Size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Number of Negative Samples</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Dropout</label>' +
                                    '<input type="text" class="form-control" id="dropout" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>Learning rate</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>L1 Regularization</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>L2 Regularization</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>KL Regularization</label>' + 
                                    '<input type="text" class="form-control" id="kl_reg" value="">' + 
                                '</div>' + 
                            '</form>'
                        )
                        break
                    case 'cdae':
                        $('#ass').empty()
                        $('#ass').append(
                            '<form action="" method="post" novalidate="novalidate">' +
                                '<div class="form-group col-xs-6">' +
                                    '<label>Batch Size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Number of Negative Samples</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Factors</label>' +
                                    '<input type="text" class="form-control" id="factors" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Dropout</label>' +
                                    '<input type="text" class="form-control" id="dropout" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>Learning rate</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>L1 Regularization</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>L2 Regularization</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="">' + 
                                '</div>' + 
                            '</form>'
                        )
                        break
                    case 'item2vec': 
                        break
                    case 'userknn':
                        break
                    case 'itemknn':
                        break
                    case 'slim': 
                        break
                    case 'pop':
                        break
                    case 'mf': 
                        $('#ass').empty()
                        $('#ass').append(
                            '<form action="" method="post" novalidate="novalidate">' +
                                '<div class="form-group col-xs-6">' +
                                    '<label>Batch Size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Number of Negative Samples</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Factors</label>' +
                                    '<input type="text" class="form-control" id="factors" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>Learning rate</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>L1 Regularization</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>L2 Regularization</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="">' + 
                                '</div>' + 
                            '</form>'
                        )     
                        break 
                    case 'fm':
                        $('#ass').empty()
                        $('#ass').append(
                            '<form action="" method="post" novalidate="novalidate">' +
                                '<div class="form-group col-xs-6">' +
                                    '<label>Batch Size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Number of Negative Samples</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Factors</label>' +
                                    '<input type="text" class="form-control" id="factors" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>Learning rate</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>L1 Regularization</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>L2 Regularization</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="">' + 
                                '</div>' + 
                            '</form>'
                        )    
                        break
                    case 'neumf':
                        $('#ass').empty()
                        $('#ass').append(
                            '<form action="" method="post" novalidate="novalidate">' +
                                '<div class="form-group col-xs-6">' +
                                    '<label>Batch Size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Number of Negative Samples</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Factors</label>' +
                                    '<input type="text" class="form-control" id="factors" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Number of Layers</label>' +
                                    '<input type="text" class="form-control" id="num_layers" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Dropout Rate</label>' +
                                    '<input type="text" class="form-control" id="dropout" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>Learning rate</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>L1 Regularization</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>L2 Regularization</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="">' + 
                                '</div>' + 
                            '</form>'
                        )    
                        break
                    case 'afm':
                        break
                    case 'nfm':
                        $('#ass').empty()
                        $('#ass').append(
                            '<form action="" method="post" novalidate="novalidate">' +
                                '<div class="form-group col-xs-6">' +
                                    '<label>Batch Size</label>' +
                                    '<input type="text" class="form-control" id="batch_size" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Number of Negative Samples</label>' +
                                    '<input type="text" class="form-control" id="num_ng" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Factors</label>' +
                                    '<input type="text" class="form-control" id="factors" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Number of Layers</label>' +
                                    '<input type="text" class="form-control" id="num_layers" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' +
                                    '<label>Dropout Rate</label>' +
                                    '<input type="text" class="form-control" id="dropout" value="">' +
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>Learning rate</label>' + 
                                    '<input type="text" class="form-control" id="lr" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>L1 Regularization</label>' + 
                                    '<input type="text" class="form-control" id="reg_1" value="">' + 
                                '</div>' + 
                                '<div class="form-group col-xs-6">' + 
                                    '<label>L2 Regularization</label>' + 
                                    '<input type="text" class="form-control" id="reg_2" value="">' + 
                                '</div>' + 
                            '</form>'
                        )    
                        break
                    case 'deepfm':
                        break
                    case 'puresvd':
                        break
                }
    
            })

            $('#bt2').click(function() {
                base = 'python main.py --epochs=50'
                tmp = $('#problem_type').val()
                base += ' --problem_type=' + tmp
                tmp = $('#algo_name').val()
                base += ' --algo_name=' + tmp
                tmp = $('#dataset').val()
                base += ' --dataset=' + tmp
                tmp = $('#preprocess').val()
                base += ' --prepro=' + tmp
                tmp = $('#topk').val()
                base += ' --topk=' + tmp
                tmp = $('#test_method').val()
                base += ' --test_method=' + tmp
                tmp = $('#val_method').val()
                base += ' --val_method=' + tmp
                tmp = $('#test_size').val()
                base += ' --test_size=' + tmp
                tmp = $('#val_size').val()
                base += ' --val_size=' + tmp
                tmp = $('#fold_num').val()
                base += ' --fold_num=' + tmp
                tmp = $('#cand_num') + tmp
                base += ' --cand_num=' + tmp
                tmp = $('#sample_method').val()
                base += ' --sample_method=' + tmp
                tmp = $('#sample_ratio').val()
                base += ' --sample_ratio=' + tmp
                // tmp = $('#init_method').val()
                // base += ' --init_method=' + tmp
                tmp = $('#gpu').val()
                base += ' --gpu=' + tmp
                tmp = $('#loss_type').val()
                base += ' --loss_type=' + tmp

                switch($('#algo_name').val()) {
                    case 'vae':
                        tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#dropout').val()
                        base += ' --dropout=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                        tmp = $('#kl_reg').val()
                        base += ' --kl_reg=' + tmp
                        break
                    case 'cdae':
                        tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#factors').val()
                        base += ' --factors=' + tmp
                        tmp = $('#dropout').val()
                        base += ' --dropout=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                        break
                    case 'item2vec':
                        break
                    case 'userknn':
                        break
                    case 'itemknn':
                        break
                    case 'slim':
                        break
                    case 'pop':
                        break
                    case 'mf':
                        tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#factors').val()
                        base += ' --factors=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                        break
                    case 'fm':
                        tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#factors').val()
                        base += ' --factors=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                        break
                    case 'neumf':
                        tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#factors').val()
                        base += ' --factors=' + tmp
                        tmp = $('#num_layers').val()
                        base += ' --num_layers=' + tmp
                        tmp = $('#dropout').val()
                        base += ' --dropout=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                        break
                    case 'afm':
                        break
                    case 'nfm':
                        tmp = $('#batch_size').val()
                        base += ' --batch_size=' + tmp
                        tmp = $('#num_ng').val()
                        base += ' --num_ng=' + tmp
                        tmp = $('#factors').val()
                        base += ' --factors=' + tmp
                        tmp = $('#num_layers').val()
                        base += ' --num_layers=' + tmp
                        tmp = $('#dropout').val()
                        base += ' --dropout=' + tmp
                        tmp = $('#lr').val()
                        base += ' --lr=' + tmp
                        tmp = $('#reg_1').val()
                        base += ' --reg_1=' + tmp
                        tmp = $('#reg_2').val()
                        base += ' --reg_2=' + tmp
                        break
                    case 'deepfm':
                        break
                    case 'puresvd':
                        break
                }

                $('#res').val(base)

            })

        })
    </script>

{% endblock %}
